*{
  margin: 0;
  padding: 0;
  font-family: Cambria;
  box-sizing: border-box;
}

.welcome{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(251, 245, 237);
  padding: 1%;
}

.Login{
    width: 100%;
    max-width: 470px;
    background: #cec5af;
    margin: 18px auto 20px;
    padding: 12px 11px 12px;
    border-radius: 10px;
}

.Login h2{
  color: rgb(16, 76, 255);
  text-align: center;
  margin-bottom: 20px;
}

.Login h3{
  color: rgb(144, 131, 75);
  text-align: center;
  margin-bottom: 20px;
  margin-top: -14px;
  font-size: 16px;
}

.usernamebox{
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background: #bdcef3;
  border-radius: 10px;
  padding-left: 0;
  margin-bottom: 25px;
}

.passwordbox{
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background: #bdcef3;
  border-radius: 10px;
  padding-left: 0;
  margin-bottom: 25px;
  
}

.button{
  display: block;
  margin: 15px auto;
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #ffffff;
  cursor: pointer;
  border-radius: 40px;
  font-size: 16px;
  margin-top: 0;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 16px;
  font-size: 16px;
}

